/* Aboutus.css */

.section {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Media Query for 1024px and below */
  @media (max-width: 1024px) {
    .section {
      flex-direction: column;
    }
  }
  
  .column {
    flex: 1;
    box-sizing: border-box;
    padding: 79px;
  }

  @media (max-width: 1024px) {
    .column  {
      padding: 20px;
    }
  }
  
  .right-column {
    flex: 1 1 0%;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .image {
    width: 100%;
    height: 100%;
    display: block;
  }
  